{% extends "base.html" %}

{% block start %}

<div class="container card shadow-lg mt-5">
    <table class="table" style="text-align:center">
        <thead>
            <tr>
                <th scope="col">Sr.No.</th>
                <th scope="col">Total</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for item in order %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ item.order_total }}</td>
                <td>True</td>
                <td>{{ item.created_at }}</td>
            {% endfor %}
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}